p , h1, h2 {
    font-family: calibri ;

};

img {
    display: right ;
    background: radial-gradient(circle, red, yellow, green);
};

  {
 background: radial-gradient(circle, red, yellow, green);
}